doctype html 
html
  head
    title Dance Academy
    block scripts  
    block style 

  body
    nav#navbar
        ul 
            div#logo 
                img(src="../static/pics/logo.png")  
          
            li #[a(href='/') Home] 
            li #[a(href='/contact') Contact] 
            li #[a(href='/') Services]
            li #[a(href='/') About]    
    
    block content
    
    footer#footer 
        | Copyright &copy; 2021 dancewithus.com | All right reserved 


      
